<h2><%= @store.name %></h2>
<h3>Orders</h3>
<% @store.orders.each do |order| %>
  <% if order.status != 'discarded' && order.price.nil? %>
    <%= form_with model: order do |form| %>
      <div>
        <span><%= order.product_name %></span>
        <% if order.status == 'pending' %>
          <%= form.select :status, ['pending', 'approved'] %>
        <% elsif order.status == 'approved' %>
          <%= form.select :status, ['approved'] %>
        <% end %>
      </div>
      <% if order.status == 'approved' %>
        <span>Enter a price:</span>
        <div>
          <%= form.number_field :price, required: true %>
        </div>
        <%= form.submit 'Send quote' %>
      <% elsif order.status == 'pending' %>
        <%= form.submit 'Approve order' %>
      <% end %>
    <% end %>
  <% end %>
  <ul>
    <% if order.status == 'approved' && order.price %>
      <li>
        <span><%= order.product_name %></span> | 
        <b><%= order.status %></b> | 
        <span>S/<%= order.price %></span>
      </li>
    <% elsif order.status == 'discarded' %>
      <li>
        <span><%= order.product_name %></span> | 
        <b><%= order.status %></b>
      </li>
    <% end %>
  </ul>
<% end %>  
<%= link_to 'Logout', logout_path, method: :delete %>