<section class="container">
  <%= form_with url: '/', class: 'form' do |form| %>
    <ul>
      <% if @client.errors.any? %>
        <% @client.errors.full_messages.each do |msg| %>
          <li class="error"><%= msg %></li>
        <% end %>
      <% elsif @order.errors.any? %>
        <li class="error"><%= @order.errors.full_messages[@order.errors.full_messages.length - 1]%></li>
      <% end %>
    </ul> 
    <div class="form__input-box">
      <%= form.label :name, class:'form__label' %>
      <%= form.text_field :name, class:"form__input" %>
    </div>
    <div class="form__input-box">
      <%= form.label :email, class:'form__label' %>
      <%= form.email_field :email, class:"form__input" %>
    </div>
    <div class="form__input-box">
      <%= form.label :address, class:'form__label' %>
      <%= form.text_field :address, class:"form__input" %>
    </div>
    <div class="form__input-box">
      <%= form.label :phone, class:'form__label' %>
      <%= form.telephone_field :phone, class:"form__input" %>
    </div>
    <div class="form__input-box">
      <%= form.label :products, class:'form__label' %>
      <%= form.collection_select :product_name, Product.all, :name, :name, { include_blank: 'Select a product' }, { class: 'form__select' } %>
    </div>
    <%= form.submit 'Create order', class: 'form__button' %>
  <% end %>
</section>